.grid .row {
	background-color: transparent;
	border: 0;
	height: 50px;
	padding-right: 0;
}

.grid .row .col-md-3 {
	min-height: 150px;
}

.grid .row .col-md-6 {
	min-height: 300px;
}

input[type=text]{
	width: 350px;
}

input[type=email]{
	width: 350px;
}

p input[type=checkbox]{
	margin: 5px;
}