.page-header img {
	width: 200px;
	height: auto;
}

div input[type="text"] {
	width: 300px;
}

.force-to-bottom {
	position: absolute;
	bottom: 5%;
	width: 100%;
}

footer {
	padding-right: 250px;
	padding-left: 250px;
}

.conteudoIndex{
	margin-left: 169px;
    margin-right: 136px;
    margin-top: 34px;
    padding-left: 125px;
}

.conteudoIndex h1{
    margin-left: 83px;
    margin-right: 83px;
}

